img {
	width: 200px;
	height: 200px;
	padding:0%;
		
} 
.image05 img{
	width: 1340px;
	height: 300px;
}

.myheading{
	background-color: rgb(204, 237, 241);
}

.Homeheading{
	text-align: center;	
}

.search-container{
	float: right;
}


P{
	text-align: center;
	font-size: 30PX;
}
ul{
	display: block;
	list-style-type: none;
	gap: 20px;
	background-color: rgb(31, 24, 24);
	padding: 30px 20px;
}
li{
	float: left;
	border-right: 1px solid white;
}
li a{
	padding: 20px 20px;
	color: white;
	text-decoration: none;
    border-radius:10px; 
}

li a:hover{
background-color: rgba(245, 240, 240, 0.5);
color: black;

}
.lastmenuchild{
	float: right;
}

.img1 img{
	width: 100%;
}
.{
	text-align: left;	
}

.image-container{
	width: 100%;
}
.swiper {
	width: 600px;
	height: 600px;
  }

  .swiper img{
	width: 600px;
	height: 600px;
  }



  .swiper .swiper-button-prev, 
  .swiper .swiper-button-next{
	color:aquamarine
  }


  