img {
	width: 200px;
	height: 200px;
			
} 

.titled{
	font-size: xx-large;
}

.myheading{
	background-color: powderblue;
}


.search{
	
}


.toptitle{
	padding: 10px;

}

P{
	text-align: center;
	font-size: 30PX;
}
ul{
	list-style-type: none;
	gap: 20px;
	background-color: rgb(31, 24, 24);
	padding: 30px;
}
li {
	float: left;
	border-right: 1px solid white;
}
.lastmenuchild{
	float: right;
	}

li a{
	
	padding: 20px 20px;
	color: white;
	text-align: center;
	display: block;
	text-decoration: none;
    border-radius:10px; 
}
li a:hover{
background-color: rgba(245, 240, 240, 0.5);
color: black;

}

.img1 img{
	width: 100%;
}


.image-container{
	width: 100%;
}
.swiper {
	width: 100%;
	height: 400px;
  }

  .swiper img{
	width: 100%;
	height: 400px;
  }



  .swiper .swiper-button-prev, 
  .swiper .swiper-button-next{
	color:aquamarine
  }


  